*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}
.formCont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: rgb(65, 65, 65);
    color: white;
    padding: 30px 20px;
    border-radius: 20px;
    h3{
        text-align: center;
        font-size: 20px;
    }
    label{
        font-size: 18px;
    }
    input[type=text]{
        width: 300px;
        padding: 10px 20px;
        font-size: 18px;
        background-color: rgb(31, 31, 31);
        color: white;
        border-radius: 10px;
        &::placeholder{
            color: white;
        }
    }
    input[type=submit]{
        width: 200px;
        padding: 10px 20px;
        font-size: 18px;
        border-radius: 10px;
        cursor: pointer;
    }

}